= render 'layouts/navbar'
.form 
    .form-content 
        h2 Edit Password
        = form_with model: @user, url: users_editPassword_path(:id => @user.id), method: :patch do |f|
            .content
                = f.hidden_field 'id'
                label Password
                span class="required-sign" * 
                = f.password_field 'password'
                - if @user.errors[:password].any?
                    .warning-message This #{ @user.errors[:password][0]}
            .content
                label Password Confirm
                span class="required-sign" * 
                = f.password_field 'password_confirmation'
                - if @user.errors[:password_confirmation].any?
                    .warning-message This #{ @user.errors[:password_confirmation][0]}
            .button-group
                = link_to 'Back', users_profile_path( :id=>session[:id] ), class: 'sub-btn'
                = f.submit 'Update', class: 'sub-btn'